body
{
    font-family:'finger paint',cursive;
    color:orange;
}
.container
{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background-color: black;
}
#boxes
{
    width:550px;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.box
{
    width:150px;
    height:150px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:120px;
    color:orange;
    border: 2px solid orange;
}
button
{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:18px;
    transition:200ms transform;
}
button:hover
{
    cursor:pointer;
    transform:translateY(2px);
}